.payment-form {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  h2 {
    font-size: 25px;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .payment-card {
      padding: 3rem 0rem;
      min-width: 30rem;
      min-height: 5rem;
      text-align: center;
    }
    .btn-payment {
      padding: 0.5rem 2rem;
      &:focus {
        outline: none !important;
      }
    }
    .spinner-border {
      margin-right: 5px;
    }
  }
}
