.cart-item {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 1rem;
  img {
    width: 30%;
    margin-right: 0.7rem;
  }
  .cart-itemDetail {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    font-size: 16px;
  }
  .delete-btn {
    right: 0px;
    top: 0px;
    position: absolute;
    width: 20px;
    cursor: pointer;
    height: 20px;
  }
}
